@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

html, body {
    margin: 0px;
    background-color: #000;
}

span, em, strong, a {
    display: inline-block;
}

ul, li {
    list-style-type: none;
}

em {
    font-style: normal;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    font-size: 0;
    vertical-align: top;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    box-sizing: border-box;
}