@import url(common.css);


/* start */

.start {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.9);
    /* transition: transform 10s, opacity 3s, z-index 10s; */
    transition: transform 1s, opacity 1s, z-index 1s;
    opacity: .1;
    z-index: 9999;
}
.start:hover{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.start.active{
    opacity: 0;
    transform: translateX(-50%) translateY(-40%);
    z-index: -9999;
}


/* header */

header {
    width: 8%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    position: fixed;
    justify-content: space-between;
    z-index: 9999;
    opacity: 0;
}
header.active {
    /* animation: opacity 5s 10s forwards; */
    animation: opacity 1s 1s forwards;
}
header > a:last-of-type {
    position: absolute;
    left: 0;    
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .5s;
    opacity: .3;
    z-index: 2;
}
header > a:last-of-type.active {
    transform: translateX(-80%) translateY(-50%);
    opacity: .3;
}
header > a:last-of-type:hover {
    opacity: 1;
}
header ul {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-100%) translateY(-50%);
    transition: 1s;
}
header ul.active {
    transform: translateX(0%) translateY(-50%);
}
header ul li {width: 100%;}
header ul li:last-of-type {margin-bottom: 0;}
header ul li a {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 8rem;
    opacity: .7;
    position: relative;
}
header ul li a::before {
    content: url(../img/호버시.png);
    position: absolute;
    left: 0;
    top: 1rem;
    transform: translateY(-0.5rem);
    z-index: -1;
    opacity: 0;
}
header ul li a:hover {
    opacity: 1;
}
header ul li a:hover::before {
    opacity: 1;
    transition: .5s;
}


/* section */

section {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    padding: 2vh 0;
    position: absolute;
}
section.click {
    transition: opacity 3.5s, z-index 3.5s;
    opacity: 1;
    z-index: 2;
}
section h1 {display: none;}

section:nth-of-type(1) {   
    background-image: url("../img/Home.jpg");
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
}
section:nth-of-type(1).active {
    /* animation: opacity 10s forwards; */
    animation: opacity 1s forwards;
}
section:nth-of-type(1) .director {
    letter-spacing: 0.6rem;
    opacity: 0;
}
section:nth-of-type(1) .director.active {
    /* animation: opacity 3s 6s forwards; */
    animation: opacity 1s 1s forwards;
}
section:nth-of-type(1) .director div {
    position: relative;
    overflow: hidden;
    width: 40%;
    margin: 0 auto;
}
section:nth-of-type(1) .director div:first-of-type {
    padding: 2rem 0;
}
section:nth-of-type(1) .director div:first-of-type span {
    font-size: 0.9375rem;
    line-height: 4rem;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) translateY(100%);
}
section:nth-of-type(1) .director div:first-of-type span.active {
    /* animation: up 2s 6s forwards; */
    animation: up 1s 1s forwards;
}
section:nth-of-type(1) .director > span {
    width: 48px;
    height: 1px;
    background: #fff;
    display: block;
    margin: 0 auto;
}
section:nth-of-type(1) .director div:last-of-type {
    padding: 2rem 0;
}
section:nth-of-type(1) .director div:last-of-type span {
    font-size: 1.125rem;
    line-height: 4rem;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) translateY(-100%);
}
section:nth-of-type(1) .director div:last-of-type span.active {
    /* animation: down 3s 7s forwards; */
    animation: down 1s 1s forwards;
}
section:nth-of-type(1) > p {
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 5rem;
    margin: 56vh 0 6vh;
    opacity: 0;
}
section:nth-of-type(1) > p.active {
    /* animation: title 10s 6s forwards; */
    animation: title 1s 1s forwards;
}
section:nth-of-type(1) .scroll {
    display: flex;
    flex-direction: column;
    opacity: 0;
}
section:nth-of-type(1) .scroll.active {
    /* animation: opacity 5s 10s forwards; */
    animation: opacity 1s 1s forwards;
}
section:nth-of-type(1) .scroll span {
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0.3rem;
    margin-bottom: 1vh;
}
section:nth-of-type(1) .scroll a {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 100%;
    transform: translateY(0);
}
section:nth-of-type(1) .scroll a.active {
    animation: scroll 1.5s infinite;
}

section:nth-of-type(2) {
    background-image: url("../img/Synopsis_01.jpg");
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}
section:nth-of-type(2) h2 {
    font-size: 1.875rem;
    font-weight: 700;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    position: absolute;
    right: 2%;
    top: 2%;
    opacity: 0;
}
section:nth-of-type(2) h2.active {
    animation: opacity 1s 1s forwards;
}
section:nth-of-type(2) article {
    text-align: start;
    margin: 0 0 7% 12%;
    opacity: 0;
}
section:nth-of-type(2) article.active {
    animation: opacity 1s 1s forwards;
}
section:nth-of-type(2) article h3 {
    display: none;
}
section:nth-of-type(2) article strong {
    font-size: 2.5rem;
    font-weight: 700;
}
section:nth-of-type(2) article .line {
    margin: 1.5% 0;
}
section:nth-of-type(2) article .line img {
    margin-right: 10px;
}
section:nth-of-type(2) article .line span{
    width: 270px;
    height: 2px;
    background: #fff;
}
section:nth-of-type(2) article p{
    width: 70%;
    line-height: 2rem;
}

section:nth-of-type(3) {background-image: url("../img/Casting_01.jpg");}

section:nth-of-type(4) {background-image: url("../img/Home.jpg");}

section:nth-of-type(5) {background-image: url("../img/Home.jpg");}

section:nth-of-type(6) {background-image: url("../img/Home.jpg");}


/* footer */

footer {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 9999;
    opacity: 0;
}
footer.active {
    /* animation: opacity 3s 6s forwards; */
    animation: opacity 1s 1s forwards;
}
footer a {
    opacity: .7;
    margin-left: 30px;
    transition: .5s;
}
footer a:first-of-type {
    margin-left: 0;
}
footer a:hover {
    opacity: 1;
}


/* keyframes */

@keyframes opacity {
    100% {
        opacity: 1;
    }
}
@keyframes up {
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
@keyframes down {
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
@keyframes title {
    100%{
        letter-spacing: 2rem;
        opacity: 1;
    }
}
@keyframes scroll {
    50% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0);
    }
}